@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/static/Montserrat-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/static/Montserrat-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/static/Montserrat-Bold.ttf) format("truetype");
  font-weight: 700;
}
html {
  box-sizing: border-box;
  font-family: "Montserrat";
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: white;
}

h1 {
  margin: 0;
}

.content {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

span {
  font-size: 0.8rem;
  position: absolute;
  top: 1px;
  right: 14px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  span {
    font-size: 1.3rem;
    top: 6px;
    right: 110px;
  }
}
@media screen and (min-width: 1280px) {
  span {
    font-size: 1.3rem;
    right: 153px;
  }
}
span::after {
  content: "You give us a vibe. We give you a gif";
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 1px solid white;
  background: rgba(170, 170, 170, 0.533);
  border-radius: 10px;
  min-width: 10rem;
  text-align: center;
  transition: opacity 0.5s ease;
  opacity: 0;
}
span:hover::after {
  opacity: 1;
}

.gif {
  width: 80%;
  min-height: 30rem;
  border-radius: 2rem;
  position: relative;
  background: inherit;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}
.gif__content {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .gif__content {
    flex-direction: row;
    align-items: center;
  }
}
.gif__title {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
  font-size: 2.25rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .gif__title {
    font-size: 4rem;
  }
}
.gif__image {
  width: 100%;
  padding: 0 1rem;
  border-radius: 17%;
  max-height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .gif__image {
    padding: 3rem 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .gif__image {
    width: 34rem;
  }
}
.gif__form {
  min-height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1280px) {
  .gif__form {
    justify-content: space-evenly;
    height: 30rem;
    padding-right: 3rem;
  }
}
.gif__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .gif__container {
    margin-bottom: 2rem;
  }
}
.gif__emoji {
  max-width: 2rem;
  -webkit-animation: wave 2s infinite ease-in-out;
          animation: wave 2s infinite ease-in-out;
}
@media screen and (min-width: 768px) {
  .gif__emoji {
    max-width: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .gif__emoji {
    max-width: 4rem;
    margin-bottom: 7rem;
  }
}
.gif__error {
  font-size: 1.5rem;
  font-weight: 500;
  -webkit-animation: wave 2s infinite ease-in-out;
          animation: wave 2s infinite ease-in-out;
}
@media screen and (min-width: 768px) {
  .gif__error {
    font-size: 2rem;
    font-weight: 500;
  }
}
@media screen and (min-width: 1280px) {
  .gif__error {
    font-size: 2.75rem;
    padding: 0 3rem;
    text-align: center;
    width: 30rem;
  }
}

.form__title {
  padding: 0px 1rem;
  text-align: center;
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .form__title {
    font-size: 2.125rem;
    margin-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  .form__title {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}
.form__input {
  width: 65%;
  border: none;
  outline: none;
  font-family: "Montserrat";
  border-radius: 4px;
  height: 1.25rem;
}
@media screen and (min-width: 768px) {
  .form__input {
    height: 3rem;
    border-radius: 10px;
    border: none;
    padding: 0 1rem;
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .form__input {
    height: 3.5rem;
    width: 95%;
    font-size: 1.5rem;
  }
}

.buttons {
  margin-bottom: 2rem;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .buttons {
    height: 2.75rem;
    font-size: 1.25rem;
    margin-top: 2rem;
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .buttons {
    width: 95%;
  }
}
.buttons__item {
  border: none;
  height: 2rem;
  border-radius: 5%;
  background-color: #23a6d5;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}
.buttons__item:hover {
  -webkit-animation: bounce 1s ease-in-out;
          animation: bounce 1s ease-in-out;
}
.buttons__item--random {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}
@media screen and (min-width: 768px) {
  .buttons__item {
    height: 2.75rem;
    font-size: 1.25rem;
    min-width: 10rem;
    border-radius: 10px;
  }
}
@media screen and (min-width: 1280px) {
  .buttons__item {
    height: 4rem;
    font-size: 1.5rem;
    min-width: 12rem;
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes wave {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
@keyframes wave {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
@-webkit-keyframes bounce {
  0% {
    transform: translate(0, 0px);
  }
  25% {
    transform: translate(0, -10px);
  }
  50% {
    transform: translate(0, 5px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
@keyframes bounce {
  0% {
    transform: translate(0, 0px);
  }
  25% {
    transform: translate(0, -10px);
  }
  50% {
    transform: translate(0, 5px);
  }
  100% {
    transform: translate(0, 0px);
  }
}